html, body, #root {
    font-family: apertura, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding:0;
}

/* --- Cabeçalhos --- */
.heading-page {
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #606161;
}

.subtitle-page {
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #606161;
    padding-bottom: 0.5rem;
}

/* --- Botões --- */
.create-button {
    margin-top: 0.9375rem;
    text-align: center;
}

.group-buttons {
    text-align: center;
    min-width: 18.75rem;
}

.button {
    text-decoration: none;
	cursor: pointer;
}

.MuiButton-outlined	.MuiButton-outlinedPrimary .MuiButton-root {
    background-color: #fff;
    color: #fff;
}