#loginScreen {
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginHeader {
    align-content: center;
    align-items: center;
}