.conteudoQuestao {
    margin-top: 2rem;
}

.enunciadoQuestao {
    margin-bottom: 2rem;
}

.enunciadoQuestao h2 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.6rem;
}

.respostasQuestao {
    margin-bottom: 2rem;
    color: #606161;
}

.questaoTipo {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.questaoOpcoes {
    padding: 1rem;
    text-align: center;
    align-items: center;
}

#gabarito {
    display: flex;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    color: #606161;
    font-size: small;
}

@media(min-width: 700px) {
    .questaoTipo {
        text-align: right; 
    }

    #gabarito {
        display: flex;
        padding-top: 1.5rem;
        padding-left: 1.7rem;
        color: #606161;
    }
}
