html, body {
    font-family: apertura, sans-serif;
    /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
    background-color: #fff;
}

/* --- Cabeçalho --- */
.heading-page {
    font-style: normal;
    font-weight: 500;
    color: #606161;
}

/* --- Botões --- */
.create-button {
    margin-top: 15px;
    text-align: center;
}

.group-buttons {
    text-align: center;
    min-width: 300px;
}