html, body {
    background-color: #fff;
    font-family: apertura, sans-serif;
    margin: 0;
    padding:0;
}

#login-screen {
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    height:100vh;
    width: 100vw;
}

/* @media(max-width: 800px) {
    html, body {
        height: 80vh;
        width: 80vw;
    }

    #login-screen {
        height: 100vh;
        width: 100vw;
    }
} */

/* --- Cabeçalho --- */
.heading-page {
    font-style: normal;
    font-weight: 500;
    color: #606161;
}

/* --- Botões --- */
.create-button {
    margin-top: 15px;
    text-align: center;
}

.group-buttons {
    text-align: center;
    min-width: 300px;
}