/* --- Cabeçalho --- */

.heading-page {
    text-align: center;
    font-family: Roboto;
}

/* --- Formulários --- */
label {
    margin-bottom: 5px;
}

.form-group {
    margin: 10px 25px;
    padding: 5px;
}

.form-control {
    display: flex;
    margin-bottom: 10px;
    width: 50%;
}

/* --- Botões --- */
.create-button {
    margin-top: 15px;
    text-align: center;
}

.group-buttons {
    text-align: center;
}

.bottom-btn {
    margin: 5px;
}